<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{header}}</h1>
      <h6 class="" text-light>Welcome to FX</h6>
      <div class="h-100 p-5 bg-light border rounded-3">
        <h6><i class="bi bi-cloud-haze"></i> {{subHeader}}</h6>
        <div *ngIf="loader">
          <p class="mt-3">{{paragraph}}</p>
        </div>
        <div class="row" *ngIf="!loader">
          <div class="col-md-3" *ngFor="let x of allPrice">
            <div class="card pt-4">
              <div class="card-body">
                <h5 class="card-title">{{x.instrumentname}}</h5>
                <h6>{{x.timestamp}}</h6>
                <div class="d-flex justify-content-between">
                  <p class="card-text"><i class="bi bi-cash-stack"></i> {{x.bid}}</p>
                  <p class="card-text"><i class="bi bi-cash-coin"></i> {{x.ask}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="d-block">
          <button class="btn btn-outline-{{buttons[0].color}} mt-4 mb-4 pr-2" (click)="getAllPrices()" [disabled]="allPricebutton">
            {{buttons[0].name}}
          </button>
          <button class="btn btn-outline-{{buttons[1].color}} mt-4 mb-4 pr-2" (click)="getLatestPrices()" [disabled]="latestPricebutton">
            {{buttons[1].name}}
          </button>
        </div>

      </div>

    </div>

  </div>
</div>
